.home-container{
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-item-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.our-feature-third h1{
    color: white;
}



/* 

.third-container{
    min-height: 100vmin;
    width: 100%;
    background: #29CD9C;
}
 */


@media(max-width: 768px){

    .home-container{
        margin-top: 76px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        word-wrap: break-word;
    }

    .feature-item-holder{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .our-feature h1{
        font-size: 1.0rem;
        color: white;
    }
    
    
}