.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: #29cd9c;
  position: relative;
}

.footer-left{
    flex: 1;
    padding: 3rem;
    }
    
    .contact-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .footer-right{
    flex: 2;
    padding: 3rem;
    }
    
    .contact-info{
        color: white;
        justify-content: flex-start;
        
    }
    
    .contact-ho h3{
        font-size: 1.5rem;
    }
    .contact-ho{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .payment-ho h3{
        font-size: 1.5rem;
    }
    
    .payment-ho{  
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    
    }
    
    .payment-methods{
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 1rem;
        margin-bottom: 3rem;
        color: white;
    }
    
    .payment-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.navigations li{
    list-style: none;
    display: inline;    
    margin-left: 3rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.navigations-terms{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.navigations-terms li{
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.rights-reserved{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    color: white;
}


.rights-reserved p{
    padding-left: 1rem;
}


.footer-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.navigation-list {
  list-style: none;
  display: inline;
  margin-left: 3rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}


@media(max-width: 768px){
    .navigation{
        display: none;
    }

    .rights-reserved{
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
    }

    .payment-methods{
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
        color: white;
    }

    .contact-info{
        color: white;
        justify-content: center;
        
    }
    
        
}