.footer-container{
    display: flex;
    width: 100%;
    background: #29CD9C;
    flex-direction: row;
}


.footer-left{
flex: 1;
padding: 3rem;
}

.contact-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-right{
flex: 2;
padding: 3rem;
}

.contact-info{
    color: white;
}

.payment-methods{
    margin-top: 6rem;
    color: white;
}

.payment-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.navigations li{
    list-style: none;
    display: inline;
    
    margin: 3rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.rights-reserved{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
}


.rights-reserved p{
    padding-left: 1rem;
}