.lottieLeft-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lottie-file{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.content-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.separatie{
    flex: 1;
}