.first-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../../../assets/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: cornsilk;
}

.spacer {
  flex: 1;
}

.info-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.disclaimer-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
}

.disclaimer-top header {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  color: white;
  font-weight: bold;
}

.info-holder h1 {
  font-size: 3rem;
  color: #29cd9c;
  font-weight: bold;
}

.services {
  list-style: none;
  text-align: start;
}

.services li {
  font-size: 1.3rem;
  padding-top: 1rem;
  color: white;
}

.order-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 2;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .spacer {
    display: none;
  }

  .info-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

  .info-holder h1 {
    font-size: 1.5rem;
    color: #29cd9c;
    font-weight: bold;
  }

  .services li {
    font-size: 1rem;
    padding-top: 0.3rem;
    color: white;
  }

  .disclaimer-top header {
    font-size: 1.0rem;
    margin: 1rem;
    color: white;
    font-weight: bold;
  }
}
