.App {
  text-align: center;
}

.app-container{
  min-height: 100vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}



.container-one{
  /* width: 100%; */
}


.whatsapp-contact{
  position: fixed;
  bottom: 0;
  left: 0;
  float: left;
  align-self: baseline;
  transition: 0.5s;
  width: 275px;
}