.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.whatsapp-contact{
  position: fixed;
  bottom: 0;
  left: 0;
  float: left;
  align-self: baseline;
  transition: 0.5s;
  width: 275px;
}