.dash-orders-container{
    min-height: 100vh;
    min-width: 100%;
}


.order-item-holder{
    margin-top: 76px;
    min-height: 100vh;
    min-width: 100%;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: crimson;
}