.service-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.online-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.online-info header{
    font-size: 3rem;
    color: #29CD9C;
    margin: 2rem;
}

.online-info section{
    font-size: 1.2rem;
    width: 70%;
    margin-bottom: 2rem;
}

.online-info p{
    font-size: 1.0rem;
    width: 70%;
    font-weight: bold;
    margin-bottom: 2rem;
}

.service-info{
    margin-top: 6rem;
    width: 80%;
}

.service-info header{
    font-size: 3rem;
    color: #29CD9C;
    margin: 2rem;
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1.5rem;
    width: 10rem;
    transition: transform 0.5s ease-out;
    
}



.service-item:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 7px 2px rgb(0,0,0,0.2);
}

.service-item-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


@media(max-width: 768px){
    .online-info header{
        font-size: 2rem;
        color: #29CD9C;
        margin: 2rem;
    }
    
    .online-info section{
        font-size: 1.2rem;
        width: 70%;
        margin-bottom: 2rem;
    }
    
    .online-info p{
        font-size: 1.0rem;
        width: 70%;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .service-info header{
        font-size: 2rem;
        color: #29CD9C;
        margin: 2rem;
    }
    
}